*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #f5f5f5;
}
.header{
    background-color: #fff;
    padding: 15px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    gap: 16px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

